$light-green: hsl(148, 38%, 91%);
$med-green: hsl(169, 82%, 27%);
$red: hsl(0, 66%, 54%);

$white: hsl(0, 100%, 100%);
$med-grey: hsl(186, 15%, 59%);
$dark-grey: hsl(187, 24%, 22%);

$input-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
$d-green: hsl(170, 84%, 10%);


$labelSize: 16px;


$l-weight: 400;
$h-weight: 700;


body {
    font-family: "Karla";
    background-color: $light-green;
    .toast-header, .toast-body {
        background-color: $d-green;
        color: $white;
        border-bottom: none;
        margin-right: -20px;
    }
    .toast-body {
        color: $light-green;
        padding-top: 0;
        padding-bottom: 20px;
    }
    div.position-relative {
        padding-bottom: 87px;
    }
    main {
        background-color: $white;
        border-radius: 16px;
        form {
            padding: 20px;
            h2 {
                margin-bottom: 20px;
                color: $dark-grey;
                font-weight: $h-weight;
            }
            #name-field {
                margin-bottom: 0;
                #fname-field, #lname-field {
                    border: none;
                    margin: 0;
                    padding-bottom: 0;
                }
                #lname-field {
                    padding-top: 0;
                }
            }
            label {
                color: $dark-grey;
                font-size: $labelSize;
                font-weight: $l-weight;
                span {
                    color: $med-green;
                    margin-left: 7px;
                }
            }
            label[for="gen-inquiry"] {
                margin-left: 35px;
            }
            #q-type-field {
                margin: 0 0 20px;
                #gen-enquiry-field {
                    margin-bottom: 15px;
                    #gen-inquiry {
                        margin-bottom: 15px;
                    }
                }
            }
            .form-control {
                border-color: $med-grey;  
            }
            .form-control:focus {
                border-color: $med-green;
                //box-shadow: $input-shadow;
                box-shadow: none;
            }

            input[type="text"], input[type="email"],
            section {
                margin-bottom: 20px;
            }
            input[type="text"]:hover, input[type="email"]:hover,
            textarea:hover, #gen-enquiry-field:hover, #s-request-field:hover,
            #consent:hover {
                border-color: $med-green;
            }
            
            textarea {
                margin-bottom: 35px;
                resize: none;
            }
            input[name="query"] {
                position: relative !important;
                left: 30px !important;
                border-color: $med-grey;
            }
            input[type="radio"]:checked {
                border: none;
                background-color: white;
                background-image: url("/assets/images/icon-radio-selected.svg");
            }


            input[type="checkbox"]:checked {
                background-color: white;
                border-color: $med-green;
                background-image: url("/assets/images/icon-checkbox-check.svg");
            }
            div {
                border: solid 1px $med-grey;
                border-radius: 8px;
                margin-bottom: 10px;
                padding: 10px;
            }
            
            #consentBox {
                margin-bottom: 30px;
                #consent {
                    border-color: $med-grey;
                }
            }
            #consentBox, #button-field {
                border-style: none;
            }
            .btn {
                padding: 15px 5px;
                background-color: $med-green;
                font-weight: $h-weight;
            }
            .btn:hover {
                background-color: $d-green;
                border-color: $d-green;
            }
            .errorStates {
                display: none;
                color: $red;
                margin-bottom: 24px;
            }
        }
    }
}
@media screen and (max-width:376px) {
    div.position-relative {
        padding-bottom: 109px !important;
    }
    
}

@media screen and (min-width: 768px) {
    h2 {
        max-width: 696px !important;
        max-height: 41px !important;
    }
    #lname-field {
        padding-top: 10px !important;
    }
    #s-request-field {
      margin-bottom: 15px !important;
    }
    #gen-enquiry-field, #s-request-field {
      width: 48.85%;
      margin-right: 15px;
    }
    #s-request-field {
      margin-right: 0;
    }
    #fname-field {
        padding-right: 7px;
      }
      #lname-field {
        padding-left: 7px;
      }
}
  
  @media screen and (min-width: 992px) {
    main {
        max-width: 696px !important;
        h2 {
            max-width: 632px !important;
        }
    }
    #gen-enquiry-field, #s-request-field {
        width: 48.8%;
        margin-right: 15px;
      }
      #s-request-field {
        margin-right: 0;
      }
      #fname-field {
        padding-right: 7px;
      }
      #lname-field {
        padding-left: 7px;
      }
  }
